#homepage {
  .container {
    padding-top: 2em;
    width: 80%;
  }

  .btn {
    display: block;
    margin-top: 5em;
    font-size: 1.5em;
    padding: .75em 1.5em .7em;
    width: 20%;
  }
  
  #home {
    background: url('../images/bg_home.png') no-repeat;
    background-size: cover; 
    background-position: top bottom;
    color: $white;

    header {
      padding: 2em 3em;
      position: absolute; 
      top: 0; 
      width: 100%;
      overflow: hidden;

      #logo {
        float: left;
      }
    }

    p {
      font-weight: 400;
      font-size: 2em;
      text-align: center;
    }
  }

  #about {
    background: url('../images/bg_about.png') no-repeat;
    background-size: cover; 
    background-position: top center;

    p {
      margin: 1em auto;
      width: 40%;
    }

    h2 {
      font-size: 4em;
      font-weight: 400;
    }

    .details p {
      font-weight: 600;
      width: 100%; 
      margin: 0 auto;
    }
  }

  #investors {
    h4 {
      font-weight: 600;
      text-align: center;
    }
    .grid {
      border-top: 3px solid $black;
      border-bottom: 3px solid $black;
      margin-top: 3em;

      & > .grid__col {
        vertical-align: middle;
      }
    }
    p {
      text-align: center;
    }
    .investors {
      background: url('../images/investors.png') no-repeat;
      background-size: contain;
      background-position: center center;
      height: 20em; 
    }
  }

  #stories {
    background: url('../images/bg_stories.png') no-repeat;
    background-position: top center;
    background-size: cover;

    .grid {
      margin: 3em 0;
      & > .grid__col {
        vertical-align: middle;
      }
    }

    p {
      color: $white;
    }

    .logo {
      height: 10em;
      img {
        height: 100%;
      }
    }

    h4 {
      color: $white;
      text-align: center;
    }
  }

  #funded {
    background: url('../images/bg_funded.png') no-repeat; 
    background-position: top center;
    background-size: cover;

    p {
      margin: 3em auto 0;
      width: 50%;
    }
    .btn {
      margin-top: 1.5em;
    }

  }

  #closing {
    background: url('../images/bg_footer.png') no-repeat;
    background-position: center top;
    background-size: cover;

    p {
      width: 50%;
    }
    .btn {
      margin-top: 2.5em;
      width: 25%;
    }
    p {
      color: $white; 
      text-align: center; 
      padding-bottom: 2em;
      width: 100%;
    }
  }
}