// primary site colors
$accent: #D2E3E8;
$accent-light: lighten($accent, 15%);
$accent-2: #87EFB3;
$accent-2-light: lighten($accent-2, 15%);
$primary: #C76B79;
$primary-light: lighten($primary, 15%);

// monochromatic
$white: #fff;
$black: #000;

$grey: #969696; 
$grey-dark: darken($grey, 5%);
$grey-light: lighten($grey, 25%);
$grey-super-dark: darken($grey, 20%);
$grey-super-light: lighten($grey, 33%);

$mobile-breakpoint: 700px;

