// primary site colors
$accent: #BE4863;
$accent-light: lighten($accent, 15%);
$primary: #1C1A50;
$primary-light: lighten($primary, 15%);

// monochromatic
$white: #fff;
$black: #000;

$grey: #969696; 
$grey-dark: darken($grey, 5%);
$grey-light: lighten($grey, 25%);
$grey-super-dark: darken($grey, 20%);
$grey-super-light: lighten($grey, 33%);

$mobile-breakpoint: 700px;

